:root{
    --base-color: white;
    --base-variant: white;
    --text-color:black;
    --primary-color:rgb(52, 52, 191);
    --accent-color:rgb(76, 76, 231);
    --border-color:black;
}
.mörktläge{
    --base-color:rgb(0, 0, 0);
    --base-variant: rgb(25, 9, 129);
    --text-color:rgb(255, 255, 255);
    --primary-color:rgb(52, 52, 191);
    --accent-color:rgb(76, 76, 231);
    --border-color:white;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--base-color);
    .quiz{
        background: var(--base-variant);
        width: 90%;
        max-width: 400px;
        margin: 100px auto 0px;
        border-radius: 15px;
        padding: 30px;
        border: 1px solid var(--border-color);
    }
     h1{
        color: var(--text-color);
        font-weight: 100;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 5px;
    }
    .container {
        padding: 30px 0;
        .svars-knapp{
            padding-top: 30px;
        }
        h2{
            font-size: 25px;
            color: var(--text-color);
            font-weight: 100;
            padding-bottom: 30px;
        }
    }
    .knapp{
        background-color: var(--base-variant);
        color: var(--text-color);
        width: 100%;
        border: 1px solid var(--border-color);
        padding: 10px;
        margin: 10px 0px;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;
    }
    .knapp:hover:not([disabled]){
        background-color: #000000;
        color: #fff;
    }
    .knapp:disabled{
        cursor: no-drop;
    }
    #nästa-knapp{
        background: var(--base-variant);
        color: var(--text-color);
        width: 150px;
        border:0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid black;
        display: none;
        font-size: 20px;
    }
    .correct{
        background: green;
    }
    .incorrect {
        background: red;
    }
}