* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 226, 226);
    .quiz{
        background: rgb(215, 247, 245);
        width: 90%;
        max-width: 400px;
        margin: 100px auto 0px;
        border-radius: 15px;
        padding: 30px;
        border: 1px solid black;
    }
     h1{
        color: black;
        font-weight: 100;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }
    .container {
        padding: 30px 0;
        .svars-knapp{
            padding-top: 30px;
        }
        h2{
            font-size: 25px;
            color: black;
            font-weight: 100;
            padding-bottom: 30px;
        }
    }
    .knapp{
        background-color: #fff;
        color: black;
        width: 100%;
        border: 1px solid #222;
        padding: 10px;
        margin: 10px 0px;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;
    }
    .knapp:hover:not([disabled]){
        background-color: #585555;
        color: #fff;
    }
    .knapp:disabled{
        cursor: no-drop;
    }
    #nästa-knapp{
        background: rgb(228, 226, 226);
        color: black;
        width: 150px;
        border:0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid black;
        display: none;
        font-size: 20px;
    }
    .correct{
        background: green;
    }
    .incorrect {
        background: red;
    }
}